@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
    font-family: "Montserrat", sans-serif;
}

$color: blue;
body {
    margin: 0;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 5fr 1fr;
    height: 100vh;
    grid-template-areas: "header     header" "navigator  tools" "main       main" "footer     footer";
    padding: 0 2em;
}

header {
    grid-area: header;
}

section.navigator {
    grid-area: navigator;
    position: sticky;
    top: 0;
    padding: 1em 0;
    background-color: white;
    display: grid;
    grid-template-columns: 4em 4em auto 4em;
    grid-template-areas: "home back path refresh";
    align-items: center;
    a,
    input {
        padding: .5em;
        font-size: medium;
        height: 100%;
        margin: 0 .5em;
        outline: none;
    }
    a {
        text-align: center;
        background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
        background-image: linear-gradient(top, #f4f1ee, #fff);
        border-radius: 50%;
        box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204, 198, 197, .5);
        -webkit-transition: all .1s linear;
        transition: all .1s linear;
        align-items: center;
        svg,
        i {
            transform: translate(30%, -50%);
            top: 50%;
            position: absolute;
            color: #c5c1be;
            display: block;
            font-size: 1.2em;
            height: 1em;
            text-decoration: none;
            text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
            width: 30px;
        }
        &:hover {
            background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
            background-image: linear-gradient(top, #fff, #f4f1ee);
            svg,
            i {
                color: #0088cc;
            }
        }
    }
    #home {
        grid-area: home;
    }
    #back {
        grid-area: back;
    }
    #path {
        grid-area: path;
        border: 2px solid #c5c1be;
        border-radius: 3em;
        padding: 3px 1em;
        &:focus {
            border: 2px solid#0088cc;
        }
    }
    #refresh {
        grid-area: refresh;
    }
}

section.tools {
    grid-area: tools;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    div {
        margin: 0 1em;
        padding: 0;
        font-size: medium;
        button {
            font-size: medium;
            padding: .5em 1em;
            box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
            align-items: center;
            background-color: #fff;
            background-image: none;
            border-radius: 24px;
            font-weight: 500;
            text-transform: none;
            cursor: pointer;
            &:hover {
                box-shadow: 0 1px 2px 0 rgba(13, 122, 206, 0.644), 0 1px 3px 1px rgba(13, 122, 206, 0.644);
            }
        }
    }
}

main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, .1fr));
    text-align: center;
    padding: 2em 0;
    div {
        margin: 1em;
        &:hover {
            cursor: pointer;
        }
        h5 {
            margin: 0px;
        }
    }
}

footer {
    grid-area: footer;
}


/*------------ Right Click Functionality   ----------------*/

#context-menu {
    padding: 0;
    position: fixed;
    z-index: 1;
    background: #ffffff;
    border-radius: 5px;
    transform: scale(0);
    transform-origin: top left;
    border: 1px solid gray;
}

#context-menu.active {
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}

#context-menu .item {
    padding: 8px 10px;
    font-size: 15px;
    color: black;
}

#context-menu .item:hover {
    background: #555;
    color: white;
}

#context-menu .item i {
    display: inline-block;
    margin-right: 5px;
}

#context-menu hr {
    margin: 2px 0px;
    border-color: #555;
}